# Ignore bundler config and libraries
/.bundle
/vendor/bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal
# Ignore JetBrains files
.idea
*.iml
# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp/*
!/tmp/.keep
.DS_Store
config/*.yml
public/

# vagrant stuff
/.vagrant
provision/playbook.retry

# simplecov stuff
/coverage

# Ignore Byebug command history file.
.byebug_history
